@{
    ViewData["Title"] = "Ana Sayfa";
}

<style>
    .centered {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin-top: -75px;
        margin-bottom: 120px;
    
    }
</style>

<div class="centered">
    <h2 class="display-4">Ödev Dağıtım Portalı</h2>
    <h5 class="display-6">Meriç Çaylak</h5>


</div>